  <%- include("partials/header.ejs") -%>
    <header class="masthead" style="background-image:url('assets/img/home-bg.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto position-relative">
                    <div class="site-heading">
                        <h1>SKUP</h1><span class="subheading">An initiative to maximize your skills.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
          <div class="carousel-item active">
              <p data-aos="slide-left">We are here to inform you about all ongoing and upcoming challenges related to technology.<br>We are also there for you to show the way and provide the resources to you.</p>
          </div>
          <div class="carousel-item">
              <p>Learn from the resources and appear for the competitions and challenges.</p>
          </div>
          <div class="carousel-item text-center">
              <p>Advance your skill set by appearing more and more challenges. <br>The more you practice, the more you grow.</p>
          </div>
      </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="">Next</span>
        </button>
      </div>
    </div>
<%- include("partials/footer.ejs") -%>
